<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <select name="code" id="code">
        <option value="254">kenya</option>
    </select>
    <input type="number" placeholder="phone number" id="contact"> <br> <br>
    <button type="button" id="button">prompt</button>


    <script>
        const code = document.getElementById("code")
        const contact = document.getElementById("contact")
        const btn = document.getElementById("button")
         
        btn.addEventListener("click", ()=>{
            const phone = code.value + contact.value
            async function payment() {
                let fetchdata= await fetch("/contact",{
                    method: "post",
                    headers:{"content-type": "application/json"},
                    body: JSON.stringify({
                        contact: phone
                    })
                })
            }
            payment()
            contact.value="";
        })
    </script>
</body>
</html>