<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="header">
        <h3>Vanyaboro</h3>
    </div>

    <div class="content">
        <div class="payment">
            <h3>MPESA STK-PushUp</h3>
            <select name="code" id="code">
                <option value="254">+254</option>
            </select>        
            <input type="number" placeholder="phone number" id="contact" required> <br> <br>
            <button type="button" id="button">prompt</button>

            <p id="progress"></p>
        </div> 
    </div>
           

    <script>
        const code = document.getElementById("code")
        const contact = document.getElementById("contact")
        const btn = document.getElementById("button")
        const progress= document.getElementById("progress") 

        btn.addEventListener("click", ()=>{
            const phone = code.value + contact.value
            async function payment() {
                let fetchdata= await fetch("/contact",{
                    method: "post",
                    headers:{"content-type": "application/json"},
                    body: JSON.stringify({
                        contact: phone
                    })
                })
                let response = await fetchdata.json()
                progress.textContent= response
            }
           
            payment()
            contact.value="";
        })
    </script>
</body>
</html>